@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box !important;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #545567;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

body {
  --padding: calc(1.5rem * 0.5);
}

/*--------------------------------------fundamentals
  --------------overwriting bootstrap------------------------------------------------*/
.container {
  width: 100%;
  padding-right: var(--padding);
  padding-left: var(--padding);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1050px) {
  .container {
    max-width: 840px;
  }
}
@media (min-width: 1100px) {
  .container {
    max-width: 910px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1060px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1320px;
  }
}

.w-100 {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-ja-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-j-center {
  display: flex;
  justify-content: center;
}
.flex-j-sb {
  display: flex;
  justify-content: space-between;
}
.flex-j-sa {
  display: flex;
  justify-content: space-around;
}
.flex-a-center {
  display: flex;
  align-items: center;
}
.flex-dc {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

[data-svg-wrapper] {
  position: absolute;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding-top: 40px;
  padding-left: 90px;
  padding-right: 60px;
  background: transparent;
  position: fixed;
  overflow: hidden;
  z-index: 999;
}
body:not(.pad) #header {
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out,
    background 0.5s ease-in-out;
}
body.pad #header {
  transition: left 0.5s ease-in-out;
}
#header.scroll {
  height: 60px;
  padding-top: 0;
  background: #d2e6e4;
}
#header > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header ul {
  display: flex;
}

#header .logo h4 {
  width: 155px;
  color: rgba(11, 111, 119, 1);
  background: transparent;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.header-center > *,
.header-right > * {
  margin: 0 20px;
}

.header-center li h4 {
  color: #545567;
}

.header-center li:first-child h4 {
  color: #e8799b;
}

.header-right .header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  border-radius: 5px;
}
.header-right .header-btn:nth-child(1) {
}
.header-right .header-btn:nth-child(2) {
  background: white;
  margin-right: 0;
}
.header-right .header-btn:nth-child(2) * {
  color: #5cb8b3;
}
.header-right .header-btn:nth-child(3) {
  margin: 0 10px;
  background: #5cb8b3;
}
.header-right .header-btn:nth-child(3) * {
  color: white;
}

#header select {
  width: 75px;
  background: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  padding: 9px 0;
  font-size: 16px;
  color: #f46591;
}

#header select:focus {
  outline: none;
  border: none;
}

#header select .option:first-child {
  color: #f46591;
}
#header select .option:nth-child(2) {
  color: #5cb8b3;
}

.dropdown-select {
  display: flex;
  flex-direction: column;
}

.menu-btn {
  display: none;
  transition: left 0.5s ease-in-out;
}

section {
  margin-bottom: 90px;
  position: relative;
}
.section-title {
  color: #5cb8b3;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.title-svg {
  position: absolute;
  left: calc(50% + 10px);
  top: 50px;
}

.home-top {
  width: 100%;
  height: 500px;
  position: relative;
  padding-top: 100px;
  background: #d2e6e4;
  border-radius: 0 0 0 50px;
  overflow: hidden;
}

.ht-image {
  position: absolute;
  top: -50px;
  width: 100%;
  height: calc(100% + 50px);
  background-image: url("../images/ht.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.home-top .svg1-wrapper {
  position: absolute;
  top: 0;
  z-index: 0;
}

.home-top .container {
  position: relative;
  z-index: 2;
}

.ht-con {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ht-left {
  padding: 20px 50px 80px 0;
  width: 50%;
}

.ht-left h2 {
  font-size: 38px;
  line-height: 45px;
  font-weight: bold;
  color: #0b7077;
  text-shadow: 0px 0px 10px var(--tc), 0 1px 0px var(--tc), -1px 0 0px var(--tc),
    -1px 2px 1px var(--tc), -2px 1px 1px var(--tc), -2px 3px 2px var(--tc),
    -3px 2px 2px var(--tc), -3px 4px 2px var(--tc), -4px 3px 3px var(--tc),
    -4px 5px 3px var(--tc), -5px 4px 2px var(--tc), -5px 6px 2px var(--tc),
    -6px 5px 2px var(--tc), -6px 7px 1px var(--tc), -7px 6px 1px var(--tc),
    -7px 8px 0px var(--tc), -8px 7px 0px var(--tc);
}
.ht-left .ht-find {
  font-size: 14px;
  width: fit-content;
  padding: 5px 15px;
  color: white;
  background: #e8799b;
  border-radius: 5px;
}
.ht-right .ai-message {
  height: 70px;
  width: 250px;
  padding: 10px 0;
  border-radius: 5px;
  background: #ffffffce;
}
.ht-right .ai-message img {
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0 5px;
  filter: brightness(2) saturate(0.5);
  opacity: 0.6;
}
.ht-right .ai-message p {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  color: #545567;
  margin: 0 5px;
}

@media (max-width: 1400px) {
  .home-top .container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 60px 0 90px;
  }
}
@media (max-width: 991px) {
  #header {
    flex-direction: column;
    justify-content: start;
    left: -100%;
    width: 50%;
    height: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 20px;
    background: rgb(20 114 109);
  }
  #header.scroll {
    height: 100%;
    padding-top: 20px;
    background: rgb(20 114 109);
  }
  #header.open {
    left: 0;
  }
  #header .logo {
    position: fixed;
    left: var(--padding);
    width: fit-content;
    transition: all 0.5s ease-in-out;
  }
  #header.scroll .logo {
    left: -300px;
  }
  #header .logo.open {
    left: 25%;
    transform: translateX(-50%);
  }
  #header .logo h4 {
    transition: 0.3s ease-in-out;
  }
  #header .logo.open h4 {
    color: white;
  }
  #header .header-center {
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
  }
  #header .header-center li {
    padding: 20px 0;
    color: white;
  }
  .header-center li h4 {
    font-size: 20px;
    color: white;
  }
  .header-center li:first-child h4 {
    color: #ffc3d5;
  }
  .header-right {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  #header select {
    width: 100%;
    max-width: 75px;
    height: fit-content;
    padding: 30px 0;
    color: #ffc3d5;
  }
  .header-right .header-btn:nth-child(2) {
    margin-bottom: 10px;
  }
  .header-right .header-btn:nth-child(3) {
    background: transparent;
    text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.635);
    text-underline-offset: 6px;
  }
  .header-center > *,
  .header-right > * {
    margin: 0;
  }
  .menu-btn {
    display: block;
    position: fixed;
    top: 0px;
    right: 10px;
    width: 50px;
    font-size: 50px;
    z-index: 1000;
    color: #0b7077;
  }
  .home-top .container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  .ht-image {
    top: -100px;
    left: 0;
    height: calc(100% + 100px);
    background-position: center center;
    background-size: cover;
  }
  .ht-con {
    align-items: self-end;
  }

  .ht-left {
    padding: 20px 20px 30px 0;
    width: 70%;
  }
  .ht-left h2 {
    --tc: #ffffff;
    text-shadow: 0px 0px 10px var(--tc), 0 1px 0px var(--tc),
      -1px 0 0px var(--tc), -1px 2px 1px var(--tc), -2px 1px 1px var(--tc),
      -2px 3px 2px var(--tc), -3px 2px 2px var(--tc), -3px 4px 2px var(--tc),
      -4px 3px 3px var(--tc), -4px 5px 3px var(--tc), -5px 4px 2px var(--tc),
      -5px 6px 2px var(--tc), -6px 5px 2px var(--tc), -6px 7px 1px var(--tc),
      -7px 6px 1px var(--tc), -7px 8px 0px var(--tc), -8px 7px 0px var(--tc);
  }
  .ht-right {
    padding-bottom: 30px;
  }
  .ht-right .ai-message {
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 110px;
  }
  .ht-right .ai-message img {
    height: 60px;
  }
  .ht-right .ai-message p {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .ht-image {
    top: -50px;
    left: 0;
    height: calc(100% + 50px);
    background-position: center center;
    background-size: cover;
  }
}

/*----------------------------------
           Popular Subjects
------------------------------------*/
.subject-classes .class-btn {
  margin: 0 5px;
  padding: 2px 5px;
  border: 1px solid rgb(218 218 218);
  border-radius: 5px;
}
.subject-classes .class-btn.selected {
  color: white;
  background: #5cb8b3;
}
.subject {
  padding: 0 20px;
}
.subject-small {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 30px #f2f2f2;
  overflow: hidden;
}
.subject-img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
}
.subject-dtl {
  width: 100%;
  padding: 10px;
}
.sub-year {
  font-family: "Raleway", serif;
  margin-bottom: 5px;
}
.subject-dtl h4 {
  font-family: "Noto Sans Bengali", serif;
  font-size: 20px;
  font-weight: bold;
  color: #0b7077;
}
.subject-dtl .add-btn {
  width: 70px;
  margin-top: 15px;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  background-color: #5cb8b3;
  font-size: 14px;
  text-align: center;
}

.load-more-btn {
  width: fit-content;
  padding: 4px 10px;
  border-radius: 5px;
  color: #ffffff;
  background: #5cb8b3;
}

@media (min-width: 1600px) {
  .subject {
    --padding: 20px;
    width: 25%;
    padding: var(--padding);
  }
}
@media (max-width: 1600px) {
  .subject {
    --padding: 15px;
    width: 25%;
    padding: var(--padding);
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  .subject {
    width: 33.333333%;
    min-width: 33.333333%;
  }
}
@media (max-width: 991px) {
  .subject {
    --padding: 10px;
    width: 33.333333%;
    min-width: 33.333333%;
    padding: var(--padding);
  }
}

@media (max-width: 768px) {
  .subject {
    --padding: 5px;
    width: 50%;
    min-width: 50%;
    padding: var(--padding);
  }
}
@media (max-width: 672px) {
  .subject {
    width: 50%;
    min-width: 50%;
  }
}
@media (max-width: 540px) {
  .subject {
    --padding: 15px;
    width: 100%;
    min-width: 100%;
    padding: var(--padding);
  }
}
@media (max-width: 380px) {
  .subject {
    width: 100%;
    min-width: 100%;
  }
}

/*-------------------------
           Footer
-------------------------*/
#footer {
  position: relative;
  min-height: 400px;
  background: #d2e6e4;
  padding: 50px 5%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.footer-svg2 {
  position: absolute;
  right: 0;
}

.footer-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

.footer-title {
  width: fit-content;
  font-size: 30px;
  color: #0b7077;
}

.footer-title,
.footer-section {
  padding: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section h4 {
  color: black;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  color: #555;
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #0b7077;
}

.contact-info li {
  display: flex;
  align-items: center;
}

.contact-info i {
  margin-right: 8px;
  font-size: 18px;
  color: #0b7077;
}

/* Newsletter Form */
.newsletter-form p {
  margin-bottom: 10px;
}

.newsletter {
  display: flex;
  align-items: center;
  background: white;
  overflow: hidden;
  height: 60px;
  max-width: 340px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.newsletter input {
  height: 60px;
  border: none;
  padding: 10px 15px;
  flex: 1;
  outline: none;
}

.newsletter button {
  background: #0b7077;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 540px) {
  .footer-title,
  .footer-section {
    padding: 20px 0;
  }
}












/*-------------------------------
--------------Sign In------------
---------------------------------*/
.signinup {
  width: 100%;
  height: 100%;
  padding: 30px var(--padding);
}

.login-section {
  flex: 1;
  text-align: left;
  max-width: 400px;
}

.login-section h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 30px;
}

.login-section > p {
  font-size: 20px;
  color: #666;
  margin-top: 0;
  margin-bottom: 20px;
}

.google-login {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  gap: 10px;
  transition: 0.3s ease;
}

.google-login img {
  width: 18px;
}

.google-login:hover {
  background: #f7f7f7;
}

.separator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
}

.separator::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.separator span {
  text-align: center;
  color: #888;
  background: white;
  padding: 0 6px;
  font-size: 12px;
  z-index: 1;
}

.login-form input, .signup-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.signup-form input {
  margin: 4px 0;
}

.signup-form > input:nth-of-type(1) {
  background: #F4FFFC;
}
.signup-form > input:nth-of-type(2) {
  background: #FCF8FF;
}
.signup-form > input:nth-of-type(3) {
  background: #FEFFF3;
}

.signup-form .school-class input + input {
  margin-left: 8px;
}

.signup-form .school-class input:nth-child(1) {
  width: 65%;
  background: #FFFAFA;
}

.signup-form .school-class input:nth-child(2) {
  width: 35%;
  background: #F0FBFF;
}

.login-form .signup-form input:focus {
  outline: 2px solid #2aaf9d;;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #2aaf9d;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #239485;
}

.image-section {
  flex: 1;
  max-width: 500px;
}

.image-section img {
  width: 100%;
}


/*google sign icon*/
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}


@media (max-width: 991px) {
  .signinup {
    flex-direction: column;
  }
  .signinup .image-section {
    position: absolute;
    z-index: -1;
  }
}
